:root {
--secondary-background-color: #FEFEFE;
--main-text-color: #757575;
--secondary-text-color: #FFFFFF;
--title-color: #212121;
--accent-color: #2196F3; }

body {

    background-color: #FFFFFF;
    font-family:Roboto, sans-serif;
    font-style: normal;
   }

a {
    text-decoration: none;
}
/* header */


.page-header {
font-weight: 500;
font-size: 14px;
line-height: 1.1;
}
.logo {
color: #000000;
font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
}

.logo span {
color: var(--accent-color);
}
.site-nav a {
 color: var(--title-color);
}

.site-nav a:hover,
.site-nav a:focus,
.contacts-nav a:hover,
.contacts-nav a:focus {
color: var(--accent-color);
}
.link.current {
color: var(--accent-color);
    }
.contacts-nav a {
color: var(--main-text-color);
}
 
/* hero 
.hero {
background-color: #2F303A;
}
.hero-title {
color: var(--secondary-text-color);
font-weight: 900;
font-size: 44px;
line-height: 1.4;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}

.hero-button { 
background-color: var(--accent-color);
color: var(--secondary-text-color);
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.9;
display: flex;
align-items: center;
text-align: center; 
letter-spacing: 0.06em
}
*/

/* main */

 .section {

 }
 .section-title {
     color: var(--title-color);
 }
 .section-text {
     color: var(--main-text-color);
 }


 /* footer */
.page-footer {
    background-color: #2F303A;  
}
 .page-footer a {
    color: var(--secondary-text-color);
   }
 .logo-footer {
font-family: Raleway;
 }
 .logo-footer span {
color: var(--accent-color);
font-family: Raleway; 
 }
 .contacts a:hover,
 .contacts a:focus {
color: var(--accent-color);
 }